<div class="row mt-5 mb-5">
  <label for="categoriesDDL">Type of saying: </label>
  <select id="categoriesDDL" (change)="onSelectSaying($event)">
    <option value="">Select one...</option>
    <option *ngFor="let category of categories">
      {{ category }}
    </option>
  </select>
  <input type="text" [(ngModel)]="person">
  <button type="button" (click)="onClickGetSayingsByPerson()">Get sayings</button>
</div>
<ul>
  <li *ngFor="let saying of matchingSayings">
    {{saying.quote}}
  </li>
</ul>